Using-AWS-Step-Functions-to-Categorize-Uploaded-Data/MyStateMachine-5m6f6gyjw.asl.json
{
  "Comment": "A description of my state machine",
  "StartAt": "Start Call Trascription Job",
  "States": {
    "Start Call Trascription Job": {
      "Type": "Task",
      "Parameters": {
        "LanguageCode": "en-US",
        "Media": {
          "MediaFileUri": "s3://cfst-4234-fda6c959728794776bc1-stepfunctionsbucket-93uic2oppcy1/conversation.mp3"
        },
        "TranscriptionJobName.$": "$$.Execution.Name",
        "OutputBucketName": "cfst-4234-fda6c959728794776bc1-stepfunctionsbucket-93uic2oppcy1"
      },
      "Resource": "arn:aws:states:::aws-sdk:transcribe:startTranscriptionJob",
      "Next": "Check Transcription Job"
    },
    "Check Transcription Job": {
      "Type": "Task",
      "Parameters": {
        "TranscriptionJobName.$": "$$.Execution.Name"
      },
      "Resource": "arn:aws:states:::aws-sdk:transcribe:getTranscriptionJob",
      "Next": "Transcript Status?"
    },
    "Wait 2 seconds": {
      "Type": "Wait",
      "Seconds": 2,
      "Next": "Check Transcription Job"
    },
    "Transcript Status?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.TranscriptionJob.TranscriptionJobStatus",
          "StringEquals": "COMPLETED",
          "Next": "Get Transcript Object",
          "Comment": "Transcript Completed"
        },
        {
          "Variable": "$.TranscriptionJob.TranscriptionJobStatus",
          "StringEquals": "FAILED",
          "Next": "Fail"
        },
        {
          "Variable": "$.TranscriptionJob.TranscriptionJobStatus",
          "StringEquals": "IN_PROGRESS",
          "Next": "Wait 2 seconds",
          "Comment": "Transcript Processing"
        }
      ]
    },
    "Get Transcript Object": {
      "Type": "Task",
      "Parameters": {
        "Bucket": "cfst-4234-fda6c959728794776bc1-stepfunctionsbucket-93uic2oppcy1",
        "Key.$": "States.Format('{}.json', $.TranscriptionJob.TranscriptionJobName)"
      },
      "Resource": "arn:aws:states:::aws-sdk:s3:getObject",
      "Next": "Parse Into JSON"
    },
    "Parse Into JSON": {
      "Type": "Pass",
      "Next": "Detect Transcript Sentiment",
      "Parameters": {
        "Body.$": "States.StringToJson($.Body)"
      }
    },
    "Detect Transcript Sentiment": {
      "Type": "Task",
      "Parameters": {
        "LanguageCode": "en",
        "Text.$": "$.Body.results.transcripts[0].transcript"
      },
      "Resource": "arn:aws:states:::aws-sdk:comprehend:detectSentiment",
      "Next": "Sentiment?"
    },
    "Sentiment?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.Sentiment",
          "StringEquals": "NEGATIVE",
          "Next": "Negative Interaction Lambda Function"
        },
        {
          "Variable": "$.Sentiment",
          "StringEquals": "POSITIVE",
          "Next": "Refer to Priority Followup"
        }
      ],
      "Default": "Neutral (No Action)"
    },
    "Negative Interaction Lambda Function": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "Payload.$": "$",
        "FunctionName": "arn:aws:lambda:us-east-1:571646783034:function:NegativeInteraction:$LATEST"
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2
        }
      ],
      "Next": "Success"
    },
    "Success": {
      "Type": "Succeed"
    },
    "Neutral (No Action)": {
      "Type": "Pass",
      "Next": "Success"
    },
    "Refer to Priority Followup": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sqs:sendMessage",
      "Parameters": {
        "MessageBody.$": "$",
        "QueueUrl": "https://sqs.us-east-1.amazonaws.com/571646783034/cfst-4234-fda6c959728794776bc12371ccac8bf9-PositiveInteractionQueue-EmjSob2rUjv1"
      },
      "Next": "Success"
    },
    "Fail": {
      "Type": "Fail"
    }
  }
}